{% extends "base.html" %} {% block content %}

{% if busqueda %}
<div class="container" style="margin-top: 10%;">
    <div class="row justify-content-center">
      <div class="col-4">
        <h1>Datos de {{busqueda}}</h1>
        <ul class="list-unstyled">
          <li>Nombre del país en inglés:</li>
          <li>Código ISO-2 e ISO-3:</li>
          <li>Internet TLD:</li>
          <li>Prefijo telefónico:</li>
          <li>Capital:</li>
          <li>Otros nombres:</li>
          <li>Región y subregión:</li>
          <li>Población:</li>
          <li>Coordenadas geográficas del país:</li>
          <li>Gentilicio:</li>
          <li>Superficie:</li>
          <li>Índice de Gini:</li>
          <li>Zona horaria:</li>
          <li>Fronteras:</li>
          <li>Idioma nativo:</li>
          <li>Moneda oficial:</li>
          <li>Idioma oficial:</li>
          <li>Asociaciones internacionales:</li>
          <li>CIOC:</li>
        </ul>
      </div>
      <div class="col-4">
        <img src="" width="90%" height="40%" class="rounded float-right" alt="Bandera de X">
      </div>
    </div>
</div>

{% else %}
<h1>No has introducido un país existente</h1>
{% endif %}

{% endblock %}