{% extends "base.html" %} {% block content %}

<div class="container" style="margin-top: 10%;">
    <div class="row justify-content-center">
      <div class="col-6">
        <h1>Data of {{search_country}}</h1>
        <ul class="list-unstyled">
          <li>Country's name: {{name}}</li>
          <li>ISO-2 code: {{ISO}}</li>
          <li>TLD: {{TLD}}</li>
          <li>Phone Prefix: +{{phone_prefix}}</li>
          <li>Capital: {{Capital}}</li>
          <li>Other names: {{AltNames}}</li>
          <li>Region & Subregion: {{Region}}, {{Subregion}}</li>
          <li>Population: {{Poblation}} people</li>
          <li>Geographical coordinates: {{Coordinates}}</li>
          <li>Denonym: {{Gentilicio}}</li>
          <li>Area: {{Superficie}} km²</li>
          <li>Gini index: {{Gini}}</li>
          <li>Timezone: {{timezone}}</li>
          <li>Borderlines: {{borderlines}}</li>
          <li>Native Language: {{native_language}}</li>
          <li>Official Coin: {{coin}}</li>
          <li>Official Language: {{oficial_language}}</li>
          <li>International Associations: {{asociations}}</li>
        </ul>
      </div>
      <div class="col-4">
        <img src="{{flag}}" width="150%" height="90%" alt="Bandera de {{search_country}}">
      </div>
    </div>
</div>

{% endblock %}