{% extends "base.html" %} {% block content %}

<div class="container" style="margin-top: 10%;">
    <div class="row justify-content-center">
      <div class="col-6">
        <h1>Datos de {{search_country}}</h1>
        <ul class="list-unstyled">
          <li>Nombre del país en inglés: {{name}}</li>
          <li>Código ISO-2: {{ISO}}</li>
          <li>Internet TLD: {{TLD}}</li>
          <li>Prefijo telefónico: +{{phone_prefix}}</li>
          <li>Capital: {{Capital}}</li>
          <li>Otros nombres: {{AltNames}}</li>
          <li>Región y subregión: {{Region}}, {{Subregion}}</li>
          <li>Población: {{Poblation}} people</li>
          <li>Coordenadas geográficas del país: {{Coordinates}}</li>
          <li>Gentilicio: {{Gentilicio}}</li>
          <li>Superficie: {{Superficie}} km²</li>
          <li>Índice de Gini: {{Gini}}</li>
          <li>Zona horaria: {{timezone}}</li>
          <li>Fronteras: {{borderlines}}</li>
          <li>Idioma nativo: {{native_language}}</li>
          <li>Moneda oficial: {{coin}}</li>
          <li>Idioma oficial: {{oficial_language}}</li>
          <li>Asociaciones internacionales: {{asociations}}</li>
        </ul>
      </div>
      <div class="col-4">
        <img src="{{flag}}" width="150%" height="90%" alt="Bandera de {{search_country}}">
      </div>
    </div>
</div>

{% endblock %}