{% extends "base.html" %} {%block content%}

<div class="text-center">
    <form style="max-width:480px;margin:auto" action="{% url 'login'%}" method="POST">{% csrf_token %}
        <img class="mt-4 mb-4" src="/static/homepage/images/logo.png" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {%endif%}
        <input type="text" id="username" name="username"
        class="form-control" placeholder="Username" required autofocus>
        <input type="password" id="password" name="password"
        class="mt-3 form-control" placeholder="Password" required>
        <div>
            <button class="mt-3 btn btn-lg btn-primary btn-block" submit="login">Sign In</button>
        </div>
    </form>
</div>
{% endblock %}
