{% extends "base.html" %} {% block content %}

<div class="container" style="margin: 2%;">
  <div class="row align-items-center">
    <div class="col" style="margin: 2%;">
      <h5>Compare an indicator amongst several countries</h5>
      {% load static %}
      <img src="{% static 'graphs/images/ejemplo_1dXc.jpeg' %}" width="120%" height="120%" alt="One indicator graph image">
      <p>This graph lets you compare an indicator amongst 2 to 5 countries. Here is an example about Mortality rate under 5 years old, per 1.000 births on some countries</p>
      <a class="btn btn-primary" href="{% url '1dataXcountries_base'%}" role="button">Draw graph</a>
    </div>
    <div class="col" style="margin: 2%;">
      <h5>Compare several indicators of the same country</h5>
      <img src="{% static 'graphs/images/ejemplo_Xd1c.jpeg' %}" width="120%" height="120%" alt="X indicator graph image">
      <p>This graph lets you compare between 2 and 5 indicators in the same country and see the correlation. Here is an example about some indicators in Spain</p>
      <a class="btn btn-primary" href="{% url 'Xdata1country_base'%}" role="button">Draw graph</a>
    </div>
    <div class="col" style="margin: 2%;">
      <h5>Histogram</h5>
      <img src="{% static 'graphs/images/ejemplo_hist.jpeg' %}" width="120%" height="120%" alt="Histogram picture">
      <p>This graph lets you compare an indicator amongst all countries and see data frequency. Here is an example about life expectancy amongst all countries</p>
      <a class="btn btn-primary" href="{% url 'histogram_base'%}" role="button">Draw graph</a>
    </div>
  </div>
</div>
<footer class="py-5 bg-dark fixed-bottom">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; MrWorldWide 2021</p>
  </div>
</footer>

{% endblock %}
