{% extends "homepage/base_home.html" %} {% block content %}

    <div class="container" style="padding-top: 10%;">
      <h1>Comparación de 1 dato entre 2 países</h1>
      <div class="form-outline" style="padding-top: 1%;">
        <h3>Primer País</h3>
        <input type="search" id="form1" class="form-control" placeholder="País 1"
        aria-label="Search" />
      </div>
      <div class="form-outline" style="padding-top: 1%;">
        <h3>Segundo País</h3>
        <input type="search" id="form1" class="form-control" placeholder="País 2"
        aria-label="Search" />
      </div>
      <h3>Dato a comparar</h3>
      <div class="form-outline" style="padding-top: 1%;">
        <input type="search" id="form1" class="form-control" placeholder="Dato a comparar"
        aria-label="Search" />
      </div>
    </div>

</body>
{% endblock %}