{% extends "homepage/base_home.html" %} {% block content %}

    <div class="container" style="padding-top: 10%;">
      <div class="row justify-content-center">
        <div class="col-4">
          <h1>Datos de España</h1>
          <ul class="list-unstyled">
            <li>Capital: A Coruña</li>
            <li>Area: Más de 2 Km</li>
            <li>Moneda: Trabajos de años pasados de la FIC</li>
            <li>No se qué: No sé cuanto</li>
        </div>
        <div class="col-4">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/1200px-Bandera_de_Espa%C3%B1a.svg.png" width="90%" height="90%" class="rounded float-right" alt="Bandera de mi españita">
        </div>
      </div>
    </div>

</body>
{% endblock %}