{% extends "base.html" %} {% block content %}

    <div class="container" style="margin-top: 10%;">
      <div class="row justify-content-center">
        <div class="col-4">
          <h1>Spain's data</h1>
          <ul class="list-unstyled">
            <li>Capital: A Coruña</li>
            <li>Area: More than 2 square kms</li>
            <li>Currency: FIC past years' practices</li>
            <li>Whatever: Who knows</li>
        </div>
        <div class="col-4">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/1200px-Bandera_de_Espa%C3%B1a.svg.png" width="90%" height="90%" class="rounded float-right" alt="Bandera de mi españita">
        </div>
      </div>
    </div>

{% endblock %}
