{% extends "base.html" %} {% block content %}

<div class="container" style="margin-top: 10%;">
    <div class="row justify-content-center">
      <div class="col-6">
        <h1>Datos de {{country.countryName}}</h1>
        <ul class="list-unstyled">
          <li>Nombre del país en inglés: {{country.countryName}}</li>
          <li>Código ISO-2: {{country.alpha2Code}}</li>
          <li>Internet TLD: {{country.topLevelDomain}}</li>
          <li>Prefijo telefónico: +{{country.callingCodes}}</li>
          <li>Capital: {{country.capital}}</li>
          <li>Región y subregión: {{country.region}}, {{country.subregion}}</li>
          <li>Población: {{country.population}} people</li>
          <li>Coordenadas geográficas del país: {{country.latlng}}</li>
          <li>Gentilicio: {{country.demonym}}</li>
          <li>Superficie: {{country.area}} km²</li>
          <li>Índice de Gini: {{country.gini}}</li>
          <li>Zona horaria: {{country.timezones}}</li>
          <li>Fronteras: {{country.borders}}</li>
          <li>Idioma nativo: {{country.nativeName}}</li>
          <li>Moneda oficial: {{country.currencies}}</li>
          <li>Idioma oficial: {{country.languages}}</li>
          <li>Asociaciones internacionales: {{country.regionalBlocs}}</li>
        </ul>
      </div>
      <div class="col-4">
        <img src="{{country.flag}}" width="150%" height="90%" alt="Bandera de {{country.countryName}}">
      </div>
    </div>
</div>

{% endblock %}