{% extends "base.html" %} {% block content %}

{% if indicator and top %}
<div class="text-center grid">
  <div class="row">
    <h1>Top {{top}}</h1>
  </div>
  <div class="row">
    <h2>{{indicator}}</h2>
  </div>
  <div class="row">
    <img src="data:image/jpg;base64,{{graph}}" >
  </div>
  <div class="row justify-content-center">
  <div class="col-md-4 col-lg-2">
    <a class="btn btn-primary" href="{% url 'top_index'%}">Go back</a>
  </div>
  </div>
</div>
{% else %}
<form method="POST" action="{% url 'top_index'%}">{% csrf_token %}
<div class="row g-3" style="margin: 10%;">
    <h1>Choose the indicator you want to see and how many countries to see</h1>
    <div class="col-md-4">
      <input type="text" class="form-control" name="indicator" placeholder="Indicator" aria-label="Indicator" list="indicators">
      <datalist id="indicators">
        {% for ind in indicators %}
          <option> {{ind}} </option>
        {% endfor %}
      </datalist>
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control" name="top" placeholder="Top" aria-label="Top">
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="submit">Show top countries</button>
    </div>
</div>
<form>
{% if error %}
<div class="row justify-content-center g-3">
  <div class="col-md-5 col-lg-3">
    <div class="alert alert-danger row g-3 text-center" role="alert">
      <p style="margin:0">{{error}}</p>
    </div>
  </div>
</div>
  
{% endif %}
{% endif %}
{% endblock %}
